    body {
        background-image: url('stars.gif');
        background-size: 200px;
        background-color: rgb(64, 0, 72);
    }



/* Full Width */

@media (min-width: 1100px) {


    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2%;

    }

    .navbar .logo img {
        margin: 2%;
        min-width: 100px;
        width: 75%;
    }

    .navbar .navlayers {
        display: flex;
        flex-direction: column;
        color:white;
        font-family: 'comic-sans';
        font-size: large;
        align-content: right;

    }

    .navbar .navlayers .navbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .navlayers .navbuttons a:link {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:visited {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:hover {
        /* color: lightblue; */
        text-decoration: none;
        /* font-style: italic; */
        /* font-weight: bolder; */
        background-color: rgb(139, 0, 144);

    }


    .navbar .navlayers .navbuttons .individualbuttons {
        display: inline-block;
        white-space: nowrap;
        margin: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(65, 0, 139);
        font-family: 'Comic Sans MS', 'Trebuchet MS';
        border-radius: 20px;
        border: 2px solid rgb(139, 0, 144);
    }
    .navbuttons .spacer {
    width: 4rem;
    }

}


/* Medium Width */

@media (max-width: 1100px) {


    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2%;

    }

    .navbar .logo img {
        margin: 2%;
        min-width: 100px;
        width: 55%;
    }

    .navbar .navlayers {
        display: flex;
        flex-direction: column;
        color:white;
        font-family: 'comic-sans';
        font-size: large;
        align-content: right;

    }

    .navbar .navlayers .navbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .navlayers .navbuttons a:link {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:visited {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:hover {
        /* color: lightblue; */
        text-decoration: none;
        /* font-style: italic; */
        /* font-weight: bolder; */
        background-color: rgb(139, 0, 144);

    }


    .navbar .navlayers .navbuttons .individualbuttons {
        display: inline-block;
        white-space: nowrap;
        margin: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(65, 0, 139);
        font-family: 'Comic Sans MS', 'Trebuchet MS';
        border-radius: 20px;
        border: 2px solid rgb(139, 0, 144);
    }
    .navbuttons .spacer {
    width: 4rem;
    }

}



/* Cellphone */

@media (max-width: 800px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1%;
    }
    .navbar .logo img {
        margin: 2%;
        width: 90%;
        max-width: 420px;
    }
    .navbar .navlayers {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: 'comic-sans';
        font-size: large;
        width: 100%;
    }
    .navbar .navlayers .navbuttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0rem;
        padding: 0rem;
    }
    .navbar .navlayers .navbuttons a:link {
        color: white;
        text-decoration: none;
    }
    .navbar .navlayers .navbuttons a:visited {
        color: white;
        text-decoration: none;
    }
    .navbar .navlayers .navbuttons a:hover {
        color: lightblue;
        text-decoration: none;
        font-style: italic;
    }
    .navbar .navlayers .navbuttons .individualbuttons {
        display: inline-block;
        white-space: nowrap;
        padding: .5rem 1.2rem;
        background-color: rgb(65, 0, 139);
        font-family: 'Comic Sans MS', 'Trebuchet MS';
        border-radius: 20px;
        border: 2px solid rgb(139, 0, 144);
    }
    .navbuttons .spacer {
    width: 100%;
    height: 1.25rem;
    }
}






.policytext {
    display: block;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    background-color: black;
    font-family: 'Trebuchet MS';
    /* border: 2px solid purple; */

}

.pagetext {
    display: flex;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    /* background-color: black; */
    font-family: 'Trebuchet MS';
}

.pagetext .liveitem {
    /* color: pink; */
    margin: 2rem;
    padding: 1rem;
    background-color: black;
    border: 2px solid purple;
    border-radius: 1rem;
}