    body {
        background-image: url('stars.gif');
        background-size: 15%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2%;

    }

    .navbar .logo {
        margin: 2%;
    }

    .navbar .navlayers {
        display: flex;
        flex-direction: column;
        color:white;
        font-family: 'comic-sans';
        font-size: large;
        align-content: right;

    }

    .navbar .navlayers .navbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .navlayers .navbuttons a:link {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:visited {
        color: white;
        text-decoration: none;
    }

    .navbar .navlayers .navbuttons a:hover {
        color: lightblue;
        text-decoration: none;
    }


    .navbar .navlayers .navbuttons .individualbuttons {
        display: inline-block;
        white-space: nowrap;
        margin: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(65, 0, 139);
        font-family: 'Comic Sans MS';
        border-radius: 25%;
    }









    .policytext {
        display: block;
        color: white;
        margin-left: 2%;
        margin-right: 2%;
        padding: .5%;
        background-color: black;
        font-family: 'Comic Sans MS';
    }